#vivadh{
  color: #0275D8 ;
  font: normal normal bold 37px/44px;
  padding-left: 139px;

}
#form-rounded {
    border-radius: 5rem!important;
  }


@media(max-width:600px){
  #vivadh{
    padding-left: 20px;
  }
}
.bellIcon{
    padding-left: 8px;
}